 <div class="posts">
            <div class="post">
                <h2 class="post-title">
                    <a>test-title</a>
                </h2>
                <span class="post-date">Jan 10, 2021</span>
                <span class="post-tags"><a class="ca">test-class</a> <a>|</a><a class='ta'>test-tag</a> </span>
            </div>
            <div id="testEditorMdview" class="testEditoclass">
                <textarea id="appendTest" style="display:none;"></textarea>
            </div>
            <div class="pagination">
                <!-- ::before -->
                <a class="btn_previous">Prev</a>
                <a class="btn_next" > Next</a>
                <!-- ::after -->
            </div>
        </div>