 <div class="posts">
     <div class="post">
         <h2 class="post-title">
             <a></a>
         </h2>
         <span class="post-date"></span>
         <span class="post-tags"><a class="ca"></a> <a>|</a><a class='ta'></a> </span>
     </div>
     <div id="testEditorMdview" class="testEditoclass">
         <textarea id="appendTest" style="display:none;"></textarea>
     </div>
     <div class="pagination">
         <!-- ::before -->
         <a class="btn previous">Prev</a>
         <a class="btn next"> Next</a>
         <!-- ::after -->
     </div>
 </div>